* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-color: #333333;
}

header {
    background-color: #2c3e50;
    text-color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 150px;
    height: auto;
    display: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
}

em {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
    font-style: italic;
    padding-bottom: 5px;
}

nav {
    background-color: #34495e;
    list-style: none;
    text-align: center;
    padding: 15px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #3498db;
    transform: translateY(-2px);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.section {
    background: white;
    padding: 40px 30px;
    margin-bottom: 40px;
    border-radius: 8px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15),
        0 -2px 8px rgb(0, 0, 0, 0.08)
}

.campus-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.container2 {
    Background: #e3f2fd;
    Padding: 25px;
    Border-left: 5px solid #3498db;
    Border-radius: 5px;
    margin-bottom: 25px;
}

.container3 li {
    list-style: none;
    padding: 15px;
    margin-bottom: 15px;
    background: #f8f9fa;
    border-left: 4px solid #3498db;
    border-radius: 5px;
    transition: 0.3s;
}

li:hover {
    background: #e3f2fd;
    transform: translateX(5px);
}

.container4 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}


.facilitycard {
    width: 48%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.facility-img {
    width: 100%;
    max-width: 800px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 25px;
    display: block;
    padding-left: 20px;
    padding-right: 20px
}

.additional-facilities {
    column-count: 2;
    column-gap: 360px;
    padding: 8px;
    padding: 15px;

}

.additional-facilities li {
    list-style: none;
    padding: 8px;
    margin-bottom: 15px;
    background: #f8f9fa;
    border-left: 4px solid #3498db;
    border-radius: 4px;
}



footer p {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;

}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}