* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-color: #333333;
}

header {
    background-color: #2c3e50;
    text-color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 150px;
    height: auto;
    display: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
}

h3 {
    color: #2c3e50;
    margin-bottom: 15px
}

em {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
    font-style: italic;
    padding-bottom: 5px;
}

nav {
    background-color: #34495e;
    list-style: none;
    text-align: center;
    padding: 15px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #3498db;
    transform: translateY(-2px);
    text-decoration: none;
}

.section {
    background: white;
    padding: 40px 30px;
    margin-bottom: 40px;
    border-radius: 8px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15),
        0 -2px 8px rgb(0, 0, 0, 0.08)
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

th {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

td:nth-child(2){
    color: #3498db;
}

td:nth-child(3){
    color: #27ae60;
    font-weight: bold;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background: #f8f9fa;
}

tbody tr:hover {
    background: #e3f2fd;
    cursor: pointer;
}


.container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}

.container-card {
    flex: 1;
    min-width: 280px;
    background: #f8f9fa;
    padding: 25px;
    border-radius: 8px;
    border-top: 4px solid #3498db;
}

ol {
    padding-left: 20px;
    line-height: 2;
    color: #555;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 5px solid #3498db;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

h4 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 15px;
}

ul li {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 11 45%;
    min-width: 200px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 5px;
    border-left: 5px solid #3498db;
    margin-bottom: 30px;
    transition: 0.3s;
}


footer p {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;

}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}